body {
  color: #999;
  background-color: #000;	
}

.play-field {
  box-sizing: border-box;
  position: relative;
  width: 320px;
  height: 320px;
  margin: auto;
}

.game-menu {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  cursor: default;
}

.hidden {
  display: none;
}

.btn {
  display: block;
  margin: 50% auto;
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(255, 0, 0);
}

.gamedesk {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  cursor: url('../img/min-hummer.png'), auto;
}

.gamedesk__string {
  background-color: #fff;
  width: 320px;
  height: 80px;
  margin: auto;
  background-color: #999;
}

.string__square {
  display: inline-block;
  background-image: url('../img/map-tile-center.png');
  width: 80px;
  height: 80px;
}

.square__imgEnemy {
  width: 100%;
  height: 100%;
  background-image: url('../img/goblin.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.scoreboard {
  box-sizing: border-box;
  width: 320px;
  height: 80px;
  margin: 10px auto;
  padding: 5px;
  text-align: left;
  font-size: 14px;
  font-family: Arial, sans-serif;
  color: #000;
  background-color: #fff;
}
